@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-family: "Baloo 2";
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
}

button, input {
  transition: all 0.2s ease;
  border-radius: 6px;
}
